# Cmake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

*.png
*.jpg
*.JPG
*.bmp
*.csv

build
lib
Monocolor
Output
images
USB2485


log
# fix for vscode
ipch